@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
    background: aliceblue;
    box-sizing: border-box;
    height: 100vh;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;
    gap: 25px;
    padding: 30px 0;
   
}
header li{
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    list-style: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.168);
    transition: 0.5s;
}
header li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}
header li::before{
    content: '';
    inset: 0;
    position: absolute;
    border-radius: 60px;
    background: linear-gradient(45deg,var(--g1),var(--g2));
    opacity: 0;
    transition: 0.5s;
}
header li:hover::before{
    opacity: 1;
}
header li::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg,var(--g1),var(--g2));
    transition: 0.5s;
    filter: blur(15px);
    opacity: 0;
    z-index: -1;
}
header li:hover::after{
    opacity: 1;
}
header li ion-icon{
    font-size: 1.75em;
    color: rgb(161, 161, 161);
    transition: 0.5s;
    transition-delay: 0.25s;
}
header li:hover ion-icon{
    transform: scale(0);
    transition: 0s;
}
header li span{
    position: absolute;
}
header li .title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}
header a{
    text-decoration: none;
    color: #000;
}
header li:hover .title{
    transform: scale(1);
    transition-delay: 0.25s;
}
main div{
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 20px;
    margin: 0px;
}
main > #presentation{
    position: relative;
    display: flex;
}
img{
    border-radius: 50%;
    margin-left: 50px;
    filter: blur(5px);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11);
}
.presentation{
    font-size: 2em;
    font-family:'Poppins', sans-serif;
    color: rgb(49, 196, 201);
    text-shadow: rgba(0, 0, 0, 1)
}
.old, .personal, .dev{
    font-size: 2em;
    font-family:'Poppins', sans-serif;
    color: #4c5454ff;
}
.peixePic{
    transition: 2s;
    transition-delay: 1.5s;
    position: relative;
    display: flex;
    animation: peixePic 3.5s both;
}
@keyframes peixePic {
    0%{
        filter: blur(10px);
    }

    100%{
        filter: blur(0px);
    }
}
main .presentation{
    transition: 0.2s;
    transition-delay: 0s;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: presentation 3.5s both;
}
@keyframes presentation{
    0%{
        transition-delay: 0.5s;
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    50%{
        transform: translateX(200px) translateY(0);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0px) translateY(0);
        opacity: 1;
        padding-left: 30px;
    }
}
main .old{
    transition: 0.25s;
    transition-delay: 0s;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: old 4.5s both;
}
@keyframes old{
    0%{transform: translateX(00px) translateY(50px);
        opacity: 0;
    }
    40%{
        transition-delay: 0.5s;
        transform: translateX(0px) translateY(50px);
        opacity: 0;
    }
    50%{
        transform: translateX(550px) translateY(50px);
        opacity: 0.5;
    }
    100%{
        transform: translateX(300px) translateY(50px);
        opacity: 1;
        padding-left: 30px;
    }
}
main .personal{
    transition: 0.25s;
    transition-delay: 0s;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: personal 6.5s both;
}
@keyframes personal{
    0%{transform: translateX(00px) translateY(100px);
        opacity: 0;
    }
    40%{
        transition-delay: 0.5s;
        transform: translateX(00px) translateY(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(600px) translateY(100px);
        opacity: 0.5;
    }
    100%{
        transform: translateX(350px) translateY(100px);
        opacity: 1;
        padding-left: 30px;
    }
}
main .dev{
    transition: 0.25s;
    transition-delay: 0s;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: dev 8.5s both;
}
@keyframes dev{
    0%{transform: translateX(00px) translateY(150px);
        opacity: 0;
    }
    40%{
        transition-delay: 0.5s;
        transform: translateX(00px) translateY(150px);
        opacity: 0;
    }
    50%{
        transform: translateX(600px) translateY(150px);
        opacity: 0.5;
    }
    100%{
        transform: translateX(400px) translateY(150px);
        opacity: 1;
        padding-left: 30px;
    }
}
@media (max-width:1543px){
    .old, .personal, .dev{
        margin-top:120px;
        margin-left:-50px;
    }
}
@media (max-width:1363px){
    .old, .personal, .dev{
        margin-top:120px;
        margin-left:-70px;
    }
}
@media (max-width:1312px){
    .old, .personal, .dev{
        margin-top:120px;
        margin-left:-105px;
        font-size: 1.8em;
    }
}
@media (max-width:1280px){
    .old, .personal, .dev{
        margin-top:120px;
        margin-left:-125px;
        font-size: 1.8em;
    }
}
@media (max-width:1230px){
    .old, .personal, .dev{
        margin-top:120px;
        margin-left:-135px;
        font-size: 1.75em;
    }
}
@media (max-width: 1150px){
    header{
        margin: auto;
    }
    main img{
        size: 300px 300px;
        display: block;
        position: relative;
        margin: auto;
        padding: 0;
    }
    main .presentation{
    transition: 0.2s;
    transition-delay: 0s;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: presentation 3.5s both;
    }
    @keyframes presentation{
    
        0%{
            transform: translateX(0) translateY(0);
            opacity: 0;
        }
        50%{
            transform: translateX(0px) translateY(500px);
            opacity: 0.5;
        }
        100%{
            transform: translateX(0px) translateY(350px);
            opacity: 1;
            
        }
    }
    .old, .personal,.dev{
        font-size: 2em;
        margin: auto;
    }
    main .old{
        transition: 0.2s;
        transition-delay: 0s;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        animation: old 5.5s both;
    }
    @keyframes old{
        0%{transform: translateX(-100px) translateY(50px);
            opacity: 0;
        }
        40%{
            transition-delay: 0.5s;
            transform: translateX(-100px) translateY(50px);
            opacity: 0;
        }
        50%{
            transform: translateX(-100px) translateY(500px);
            opacity: 0.5;
        }
        100%{
            transform: translateX(-100px) translateY(400px);
            opacity: 1;
        }
    }
    main .personal{
        transition: 0.2s;
        transition-delay: 0s;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        animation: personal 6.5s both;
    }
    @keyframes personal{
        0%{transform: translateX(0px) translateY(50px);
            opacity: 0;
        }
        40%{
            transition-delay: 0.5s;
            transform: translateX(0px) translateY(50px);
            opacity: 0;
        }
        50%{
            transform: translateX(00px) translateY(500px);
            opacity: 0.5;
        }
        100%{
            transform: translateX(0px) translateY(400px);
            opacity: 1;
        }
    }
    main .dev{
        transition: 0.2s;
        transition-delay: 0s;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        animation: dev 7.5s both;
    }
    @keyframes dev{
        0%{transform: translateX(100px) translateY(50px);
            opacity: 0;
        }
        40%{
            transition-delay: 0.5s;
            transform: translateX(100px) translateY(50px);
            opacity: 0;
        }
        50%{
            transform: translateX(100px) translateY(500px);
            opacity: 0.5;
        }
        100%{
            transform: translateX(100px) translateY(400px);
            opacity: 1;
        }
    }
}
@media (max-width:900px){
    .presentation, .old, .dev,.personal{
        font-size:1.5em ;
        margin: auto;
        padding: auto;
        padding-left: 0px;
        transition: 0.5s;
        transition-delay: 0.5s;
    }
    main img{
        margin: auto;
    }
}